<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Lista de Consultas</title>
</head>

<body>

<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">

            <img src="/static/img/LOGO-NERV.png" width="80"
                 th:src="@{img/LOGO-NERV.png}"/>
        </a>
    </nav>
</header>


<div class="container-fluid">

    <div class="row">

        <div class="card "  th:switch="consultas">
            <h3>Lista de Consulta</h3>
            <div th:case="*">

                <table class="table ">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Consultorio</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Numero del Paciente</th>
                        <th scope="col">Nombre del Paciente</th>
                        <th scope="col">Apellido del Paciente</th>
                        <th scope="col">Codigo Doctor</th>
                        <th scope="col">Nombre del doctor</th>
                        <th scope="col">Apellido del doctor</th>
                        <th scope="col">Especialidad</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" consulta : ${consultas}">
                        <th scope="row" th:text="${consulta.id}"></th>
                        <td th:text="${consulta.numConsultorio}"></td>
                        <td th:text="${consulta.fecha}"></td>
                        <td th:text="${consulta.paciente.id}"></td>
                        <td th:text="${consulta.paciente.nombres}"></td>
                        <td th:text="${consulta.paciente.apellidos}"></td>
                        <td th:text="${consulta.medico.cmp}"></td>
                        <td th:text="${consulta.medico.nombres}"></td>
                        <td th:text="${consulta.medico.apellidos}"></td>
                        <td th:text="${consulta.especialidad.nombre}"></td>


                        <td class="text-right">
                            <div class="btn-group">

                                <a th:href="@{/consultas/edit/{id} (id=${consulta.id}) }" class="btn btn-info btn-sm" >Editar</a>

                                <a th:href="@{/consultas/delete/{id} (id=${consulta.id}) }" class="btn btn-danger btn-sm" >Eliminar</a>

                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" align="right">
                <a th:href="@{/consultas/add}" class="btn btn-primary" >Agregar Paciente</a>
            </div>
        </div>


    </div>
</div>



</body>
</html>