<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hospital</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            HOSPITAl

            <img src="/static/img/LOGO-NERV.png" width="80"
                 th:src="@{img/LOGO-NERV.png}"/>

        </a>
    </nav>
</header>

<div class="container-fluid">

    <div class="row">

        <div class="card col-4" style="width: 30rem;">
            <img src="/static/img/especialidad.jpg" class="card-img-top"
                 th:src="@{img/especialidad.jpg}"/>

        </div>

        <div class="card col-8" th:switch="especialdadList">
            <h3>Lista de Especialidades</h3>



            <div th:case="*">

                <table class="table ">
                    <thead class="thead-dark">
                    <tr>

                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col"></th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" especialidad : ${especialidades}">
                        <th scope="row" th:text="${especialidad.id}"></th>
                        <td th:text="${especialidad.nombre}"></td>
                        <td th:text="${especialidad.descripcion}"></td>

                        <td class="text-right">
                            <div class="btn-group">

                                <a th:href="@{/especialidades/edit/{id} (id=${especialidad.id}) }" class="btn btn-info btn-sm" >Editar</a>

                                <a th:href="@{/especialidades/delete/{id} (id=${especialidad.id}) }" class="btn btn-danger btn-sm" >Eliminar</a>

                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" align="right">
                <a th:href="@{/especialidades/add}" class="btn btn-primary" >Agregar Especialidad</a>
            </div>
        </div>


    </div>
</div>
</body>
</html>